<div class="intro-container">
  <!-- background image -->
  <img src=<%= image_path("main-cover.jpg") %> class="full-background-image">
  <img src=<%= image_path("main-cover2.jpg") %> class="full-background-image2">

  <h1 class="intro-title">smoree</h1>
  <p class="intro-summary">Create courses, manage students, and share your knowledge with the world. It's as simple as that.</p>

  <% if logged_in? %>
    <%= link_to "Create Course", new_course_path, class: "create-course-link" %>
  <% else %>
    <%= link_to "Create Course", root_path, class: " create-course-link non-user-create-course-link" %>
  <% end %>
  
  <div class="overlay hidden"></div>
  <%= render partial: "users/signupform" %>
  <%= render partial: "session/form" %>
  
</div>