<div class="new-course-nav-bar">
  <div class="course-nav-left">
    <div class="nav-icons">
      <%= fa_icon "chevron-left", class: "show-new-course-nav" %>
      <%= fa_icon "chevron-right", class: "hide-new-course-nav" %>
    </div>
    <div class="new-course-icons">
      
    </div>
  </div>
  <div class="course-nav-content">
    <h1 class="nav-content-title">Course Info</h1>
    <%= form_for(@course, url: new_user_course_path(current_user), html: { class: "new-course-form"}) do |f| %>

      <div class="core-info">
        <%= f.label :title, "Course Title", class: "new-course-label" %><br>
        <%= f.text_field :title, placeholder: "Super Awesome Course Title", autofocus: true, class: "new-course-form-title"%><br>

        <%= f.label :summary, "Summarization", class: "new-course-label" %><br>
        <%= f.text_area :summary, placeholder: "Give a short summary about your course!", class: "new-course-form-summary" %><br>

        <%= f.label :description, "Describe your course!", class: "new-course-label" %><br>
        <%= f.text_area :description, placeholder: "Add a detailed description about your course!", class: "new-course-form-description" %><br>
      </div>

      div.

      <div class="create-course-button">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <div class="course-nav-right">
    
  </div>
</div>

<div class="course-background-banner">
  <h1 class="course-title-field">Hello</h1>
</div>
