<div class="course-background-banner">
  <img src=<%= @course.image_url %> class="banner-background-image">
  <div class="course-title-field"><%= @course.title %></div>
</div>
<div class="course-info-section">
  <div class="course-info-left">
    <%= react_component("InstructorCard", user: @course.user )%>
    <div class="main-info">
      <h2 class="course-summary-field"><%= @course.summary %></h2>
      <p class="course-description-field"><%= @course.description %></p>
    </div>
    <div class="additional-info">
      <%= react_component(
        "CourseDetails",
        startDate: @course.start_date,
        endDate: @course.end_date,
        address: @course.location
      ) %>
    </div>
  </div>
  <div class="course-info-right">
    <%= react_component(
      "CourseMap",
      latitude: @course.latitude,
      longitude: @course.longitude
    ) %>
    <div class="social-share-buttons">
      <%= render_shareable buttons: ["twitter", "linkedin", "tumblr"] %>
    </div>
    <%= react_component(
      "SignupForm",
      course_id: @course.id
    ) %>
  </div>
  
</div>