<div class="email-container">
  <h1 class="email-title">Hi <%= @student.first_name %>!</h1>
  <p class="welcome-email-body"><%= (@body).html_safe %></p>
  <br><br>
  <p>Sincerely,</p>
  <div class="instructor-info">
    <% unless @student.course.user.image_blob.nil? %>
      <img src=<%= @student.course.user.image_blob %>>
    <% end %>
    <div class="instructor-title">
      <h3><%= @student.course.user.name %></h3>
      <p><%= mail_to @student.course.user.email, @student.course.user.email %></p>
    </div>
    <p class="instructor-bio"><%= @student.course.user.description %></p>
  </div>
</div>

<style type="text/css">
  .email-container {
    position: relative;
    width: 50%;
    margin: 1em auto;
    padding: 2em;
    box-shadow: 0 0 10px #222;
    font-family: sans-serif;
  }

  .email-container a {
    color: #3FC380;
    text-decoration: none;
  }

  .email-title {
    margin-bottom: 1.5em;
  }

  .welcome-email-body {
    white-space: pre;
    margin: 1.5em 0 3em 0;
    width: 70%;
    word-wrap: break-word;
    line-height: 150%;
  }

  .instructor-info {
    position: relative;
    width: 100%;
    margin-top: 1em;
    padding: 2em 1em 1em 1em;
    width: 70%;
    border-top: 1px solid #DBDBDB;
  }

  .instructor-info img {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  .instructor-info .instructor-title {
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 180%;
    margin-left: 1em;
  }

  .instructor-title h3 {
    margin: 0;
  }

  .instructor-title p {
    margin: 0;
  }

</style>