<div class="email-container">
  <h1 class="email-title">Heyo, <%= @student.first_name %> <%= @student.last_name %>!</h1>
  <h2>Thanks for taking <%= link_to @course.title, course_url(@course) %></h2>
  <p class="welcome-email-body"><%= @course.welcome_email %></p>
  <p>Sincerely,</p>
  <div class="instructor-info">
    <div class="instructor-title">
      <h3><%= @student.course.user.name %></h3>
      <p><%= mail_to @student.course.user.email, @student.course.user.email %></p>
    </div>
    <p class="instructor-bio"><%= @student.course.user.description %></p>
  </div>

</div>

<style type="text/css">
  .email-container {
    position: relative;
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    box-shadow: 0 0 8px #222;
    font-family: sans-serif;
  }

  .email-container a {
    color: #3FC380;
    text-decoration: none;
  }

  .email-title {
    margin-bottom: 1.5em;
  }

  .welcome-email-body {
    white-space: pre;
    font-size: 1.3em;
    margin: 1.5em 0 3em 0;
  }

  .instructor-info {
    position: relative;
    width: 100%;
    margin-top: 1em;
    padding: 2em 1em 1em 1em;
    width: 80%;
    border-top: 1px solid #DBDBDB;
  }

  .instructor-info .instructor-title {
    position: relative;
    vertical-align: top;
    line-height: 180%;
  }

  .instructor-title h3 {
    margin: 0;
  }

  .instructor-title p {
    margin: 0;
  }

</style>