<header>

  <div class="header-left">
    <%= link_to "skillup", root_path %>
  </div>

  <div class="header-right">
    <% if logged_in? %>
      <p class="header-links"><%= link_to current_user.name, user_path(current_user) %> - <%= link_to "Signout", session_path("current"), method: :delete %></p>
    <% else %>
      <p class="header-links"><%= link_to "Sign up", new_user_path, class: "user-sign-up" %> | <%= link_to "Login", new_session_path %></p>
    <% end %>

  </div>

</header>