<!DOCTYPE html>
<html>
<head>
  <title>Skillup</title>
  <%= stylesheet_link_tag    'application', "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Hind:600,300,400' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
                                                            <%# key=API_KEY& %>          
  <%= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<section>
  <%= render partial: "layouts/header" %>
  <div class="flash-message">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: key.to_s) %>
    <% end %>
  </div>
  <%= yield %>
</section>


</body>
</html>
